.mainAddPlace{
    width: 40%;
    min-height: 80vh;
    margin: 30px auto;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.mainAddPlace input{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left:10px ;
}
.mainAddPlace .update{
    border: 1px solid black;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: green;
    margin-left: auto;
}
.mainAddPlace .file{
    text-align: center;
    line-height: 50px;
    
    
}
.mainAddPlace textarea{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
    padding:10px ;
}
.editImage{
    width: 40%;
    height: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
}