.showMain{
    width: 50%;
    min-height: 80vh;
    border: 1px solid ;
    border-radius: 10px;
    margin:10px auto;
   

}
.showMain img{
    width: 100%;
    height: 400px;
    border-radius: 10px;

}
.showMain .showDiv{
    padding: 10px;
    width: 100%;
    min-height: 150px;
     display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
}
.showButton{
    width: 100%;
    height: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}
.showButton button{
    border: none;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}
.showButton .delete{
    background-color: rgb(196, 21, 21);

}
.showButton .update{
    background-color: rgb(94, 237, 54);
}

.review{
    width: 50%;
    
    /* border: 1px solid ; */
    border-radius: 10px;
    margin:10px auto;
    
}
.hr{
     width: 50%;
    margin:10px auto;
}
.review form{
    min-height: 300px;
    display: flex;
    justify-content:space-between ;
    flex-direction: column;
    align-items: start;
}

.showReviews{
    width: 50%;
    margin:10px auto;
    border: 1px solid gray;
    padding: 5px;
    border-radius:10px;
     
}
.showReviewStyle{
display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.showReviews .showR{
    width: 45%;
    min-height:100px ;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 30px;
   

}
.map{
    width: 50%;
    margin: auto;
    border: 1px solid gray;
   
    border-radius:10px;
    
}