.mainSignUp{
     width: 40%;
    min-height: 40vh;
    margin: 30px auto;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.mainSignUp input{
     width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    padding-left:10px ;
}
.mainSignUp button{
    border: 1px solid black;
    width: 100px;
    height: 40px;
    margin-top:10px ;
    border-radius: 20px;
    background-color: green;
    margin-left: auto;
}