
.main{
    /* background-color: black; */
    width: 100%;
    height: 100px;
    /* border: 1px solid ; */
    /* margin: 200px auto; */
    position: relative;
    
    

}
.c{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: red;
    position: absolute;
    box-shadow: 0px 0px 5px 1px black;
    
}
.child1{
    top: calc(100% - 20px);
    left: calc(50% - 30px);
    animation: dicerotate 1.5s linear infinite forwards,dicemove 1.5s linear infinite alternate;
}
.child2{
    top: calc(100% - 20px);
    left: calc(50% + 10px);
    animation: dicerotate 1.5s linear infinite forwards,dicemove1 1.5s  .3s linear  infinite alternate;

}


@keyframes dicemove{
    0%{
        top: 0;
    left: calc(50% - 30px);
    }
    100%{
         top: calc(100% - 30px);
        left: calc(50% - 30px);
    }
}
@keyframes dicemove1{
    0%{
        top: 0;
    left: calc(50% + 10px);
    }
    100%{
         top: calc(100% - 30px);
        left: calc(50% + 10px);
    }
}
@keyframes dicerotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}





