.listCard{
    width: 350px;
    height:200px ;
    height:400px ;
    
    /* border: 1px solid ; */
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: white;
    
    
}
.listCard img{
    height:300px ;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}